PORT="8080"
BASE_URL="https://api-m.sandbox.paypal.com"
CLIENT_ID=""
CLIENT_SECRET=""
RETURN_URL="http://localhost:8080/?success"
CANCEL_URL="http://localhost:8080/?cancel"
DB_HOST="localhost"
DB_PORT="5432"
DB_USER="conex"
DB_PASS="1234"
DB_NAME="iterone"
BUCKET_NAME=""
BUCKET_ENDPOINT=""
BUCKET_ACCESSKEY=""
BUCKET_SECRETKEY=""
BUCKET_REGION="auto"
BUCKET_PUBLIC_ENDPOINT="https://r2.conex.one"
BUCKET_API_ENDPOINT=""
BUCKET_API_TOKEN=""
EMAIL_HOST=""
EMAIL_PORT="465"
EMAIL_USER=""
EMAIL_PASS=""
EMAIL_SUBJECT="Código temporal de CONEX Builder"
EMAIL_BODY="Su código temporal es: "
PRICE="20.00"
