:root {
  --background-color: white;
  --color: black;
  --warning-color: #b24629;
  --page-width: 768px;
  --navbar-width: 50%;
  --font-family: sans-serif;
  --logo: url('logo.png');
  --unemph-color: #505050;
  --hover-background: #dcdcdc;
  --hover-border: #aaa;
  --line-height: 1.7;
  --smaller-font: 0.75em;
  --hyper-color: #0f82af;
  text-align: justify;
  margin: auto;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1d2021;
    --color: white;
    --hover-background: #282c2d;
    --unemph-color: #909090;
    --hover-border: #505050;
    --hyper-color: #00b4db;
  }
  #closeIcon {
    content: url('/static/svg/xd.svg');
  }
}

@media (max-width: 900px) {
  :root {
    --page-width: 90%;
    --navbar-width: 50vh;
  }
  .floating-button span {
    display: none;
  }
}

html {
  background-color: var(--background-color);
  color: var(--color);
  font-family: var(--font-family);
  line-height: var(--line-height);
}

html, body {
  margin: 0 auto;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

a {
  color: var(--hyper-color);
}

.banner {
  padding: 6vh;
  box-shadow: 0 15vh 30vh black inset;
  background-position: 50%;
  background-size: cover;
  margin-bottom: 1em;
  position: relative;
}

.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.input-title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  width: 100%;
  background-color: #00000000;
  border-color: #00000000;
  color: white;
  margin-bottom: -0.2em;
}

.input-slogan {
  text-align: center;
  width: 100%;
  background-color: #00000000;
  border-color: #00000000;
  color: white;
  line-height: 1em;
  margin: 0.5em auto 0em auto;
  outline: none;
}

.input-title:focus,
.input-slogan:focus {
  outline: none;
}

div.profilepicture img {
  display: flex;
  margin: 0 auto;
  margin-top: 2em;
  width: 50%;
  max-width: 250px;
  border-radius: 50%;
}

.content {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
  margin-bottom: 2em;
}

.content li {
  line-height: 1.4em;
  text-align: left;
}

.content p {
  line-height: 1.4em;
  text-align: justify;
}

.content img {
  margin: 0 auto;
  width: 100%;
  margin: 1em 0;
}

footer {
  background-color: var(--hover-background);
  color: var(--unemph-color);
  text-align: center;
  width: 100%;
  margin: 1em auto 0 auto;
  padding-top: 1em;
  padding-bottom: 1em;
}

#dialog {
  width: 85%;
  max-width: 30em;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5em;
  background: var(--background-color);
  border: 1px solid var(--hover-border);
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.4);
  z-index: 1000;
  border-radius: 10px;
  text-align: left;
  overflow: auto;
  max-height: 70vh;
}

#dialog h2, #dialog p {
  margin: 0;
  padding: 0 0 0.5em 0;
  text-align: justify;
}

#dialog button {
  margin: 0.5em 0.5em 0 0;
  padding: 1em;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

#dialog input {
  text-align: left;
  font-size: 1em;
  display: block;
  width: 90%;
  color: var(--color);
  background: var(--hover-background);
  border: 1px solid var(--hover-border);
  border-radius: 10px;
  padding: 1em;
  margin: 1em auto;
}

#form-container {
  padding-bottom: 1em;
}

#warning-message {
  display: none;
}

#warning-message p {
  text-decoration: underline;
  color: var(--warning-color);
}

button {
  padding: 0.5em;
  margin: 1em auto;
  color: var(--unemph-color);
  background: var(--background-color);
  border: 1px solid var(--hover-border);
  border-radius: 10px;
}

#dialog button:hover {
  background: var(--hover-background);
  color: var(--color);
}

#paypal-button-container > div {
  margin: 1.5em 0 0 0;
}

#result-message {
  text-decoration: underline;
  color: var(--warning-color);
}

#cancelDialogButton {
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: var(--background-color);
  border: 1px solid var(--hover-border);
  color: var(--unemph-color);
  position: absolute;
  transition: 0.3s;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  top: 0.5em;
  right: 0.5em;
  font-size: 1.1em;
}

.floating-buttons {
  display: flex;
  position: fixed;
  flex-direction: row;
  align-items: center;
  bottom: 0.2em;
  right: 0.5em;
  gap: 0.4em;
  z-index: 9999;
}

.floating-button {
  height: 2.5em;
  cursor: pointer;
  font-size: 1em;
  z-index: 1001;
  border-radius: 999px;
  box-sizing: border-box;
  color: rgba(255, 255, 255, 0.85);
  font-size: 1em;
  font-weight: bold;
  outline: 0 solid transparent;
  padding: 8px 18px;
  width: fit-content;
  word-break: break-word;
  border: 0;
}

.floating-button img {
  width: 1.2em;
  height: 1.2em;
  vertical-align: middle;
}

.floating-button span {
  margin-left: 0.6em;
}

.floating-button:hover {
    background-color: #0056b3;
}

#updateSiteButton {
  background: linear-gradient(135deg, #214353, #4c9abf);
  box-shadow: #0099c5 0 10px 20px -15px;
}

#deleteSiteButton {
  background: linear-gradient(135deg, #5e2329, #bf4c58);
  box-shadow: #e31300 0 10px 20px -15px;
}

#openDialogButton {
  background: linear-gradient(135deg, #21532a, #4fc764);
  box-shadow: #27d100 0 10px 20px -15px;
}
